body{
    margin: 0%;
    background-color:  rgb(37, 37, 37);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
#navBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 37, 37);
    font-size: larger;
    color: white;
    font-weight: bold;
    z-index: 2;
}


#topSection{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: linear-gradient( -100deg,   transparent, rgba(255, 255, 255, 0.712)), url(/images/myImg.jpg) ;
    margin:  0%;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: contain;

}

#textInImg{
    position: absolute;
    top: 20%;
    left: 3%;
    max-width: 50%;
    text-align: left;
    padding: 10px;
    color:  rgb(37, 37, 37);
    font: small-caption ;
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 1px 0px 3px rgb(255, 255, 255);
}
#second_section{
    max-width: 95%;
    height: 150px;
    margin-top: 20px;
    color: rgb(255, 254, 254);
    text-align: left;
    font-size: medium;
    font: message-box;
}
#second_section>span{
    max-width: 50%;float: left;
}
#second_section>img{
   padding-left: 50px;
}
#Img_section,#work_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    text-align: left;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-top: 30px;
}
#img-collection{
    display: flex;
    max-width: fit-content;
    height: max-content;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
}
#img-collection>*{
    margin-right: 3px;
    border-radius: 5px;
    
}
#work_section{
    margin-top: 20px;
}

#about_section{
    width: 100%;
    min-height: 200px;
    position: relative;
    bottom: 0px;
    margin-top: 55px;
    background-color: rgb(49, 49, 49);
    color: white;
}
#about_section>ul{
    text-align: left;
}